<a href="https://colab.research.google.com/github/amanmathur19/image-classification/blob/master/catergory_classification_small.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras.utils import to_categorical
from keras.preprocessing import image
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from keras.utils import to_categorical
from tqdm import tqdm

In [69]:
train = pd.read_csv('/content/drive/Shared drives/New Markets/Aman/Project Neo/small.csv')

In [73]:
train.head()

            category                image_filename
0  Jackets & Blazers  5e0e9bce21cd0a98fdab0266.jpg
1              Shoes  5dec1ed62f82761b635fc1d6.jpg
2   Dresses & Skirts  5e0eb8c72cc51560a35b1a30.jpg
3              Shoes  5e0e58d61528128fd2cdc194.jpg
4   Dresses & Skirts  5dfbcbe1ffc2d4254efda41e.jpg

In [72]:
train = train.drop(train.columns[0] , axis = 1)

In [74]:
train['category'] = train['category'].apply(lambda x: x.replace(" ",""))
train.head()

          category                image_filename
0  Jackets&Blazers  5e0e9bce21cd0a98fdab0266.jpg
1            Shoes  5dec1ed62f82761b635fc1d6.jpg
2   Dresses&Skirts  5e0eb8c72cc51560a35b1a30.jpg
3            Shoes  5e0e58d61528128fd2cdc194.jpg
4   Dresses&Skirts  5dfbcbe1ffc2d4254efda41e.jpg

In [75]:
d = dict(zip(train['category'].unique(), range(0,4)))
d
train['category'] =  train['category'].map(d,na_action = 'ignore')

train.drop(train.columns[0], axis=1)
train.head()

   category                image_filename
0         0  5e0e9bce21cd0a98fdab0266.jpg
1         1  5dec1ed62f82761b635fc1d6.jpg
2         2  5e0eb8c72cc51560a35b1a30.jpg
3         1  5e0e58d61528128fd2cdc194.jpg
4         2  5dfbcbe1ffc2d4254efda41e.jpg

In [76]:
d

{'Dresses&Skirts': 2, 'Handbags': 3, 'Jackets&Blazers': 0, 'Shoes': 1}

In [77]:
# We have grayscale images, so while loading the images we will keep grayscale=True, if you have RGB images, you should set grayscale as False
train_image = []
for i in tqdm(range(train.shape[0])):
    try:
      img = image.load_img('/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/'+train['image_filename'][i], target_size=(28,28,1), grayscale=False)
    except Exception as e:
      print(e)
    img = image.img_to_array(img)
    img = img/255
    train_image.append(img)
X = np.array(train_image)

 23%|██▎       | 23/100 [00:00<00:00, 102.30it/s]

[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0e58d2180efde8a9658bab.jpg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0980bfb146ccb77e9f6329.jpg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e080fbce974fbf1adcf61b9.jpg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/e0cc16ed1aa25aa7d96415c.jpeg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0e9e2ba20dfc2cf79768d4.jpg'

 56%|█████▌    | 56/100 [00:00<00:00, 100.82it/s]

[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0e5f98afade8ff56fd3b09.jpg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0e9ddd21cd0aa61fab0f4e.jpg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0e5fd05967046a8930181a.jpg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0e60ac969d1fb71e494d0e.jpg'

 81%|████████  | 81/100 [00:00<00:00, 109.19it/s]

[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0e611921cd0ae5f3a9bfd7.jpg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0dd0fcb3e917b47fd55934.jpg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0dd2b8138e18aa4cbd33a4.jpg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0ec17c93b46a8e2970fad2.jpg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0dde3b264a5594d6233eed.jpg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0e63fa10f00ffaf0b33a0c.jpg'

100%|██████████| 100/100 [00:00<00:00, 113.23it/s]

[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0de4a7969d1f0c4e474f58.jpg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0ea4c09d3b788e8085c38a.jpg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/e0de098d948a11ec6752e34.jpeg'
[Errno 2] No such file or directory: '/content/drive/Shared drives/New Markets/Aman/Project Neo/image_data/5e0ec2978557af7d9189e193.jpg'

In [78]:
y=train['category'].values
y = to_categorical(y)

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [80]:
model = Sequential()
model.add(Conv2D(32, kernel_size=(3, 3),activation='relu',input_shape=(28,28,3)))
model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(4, activation='softmax'))

In [81]:
model.compile(loss='categorical_crossentropy',optimizer='Adam',metrics=['accuracy'])

In [82]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(80, 28, 28, 3)
(80, 4)
(20, 28, 28, 3)
(20, 4)

In [83]:
model.fit(X_train, y_train, epochs=10, validation_data=(X_test, y_test))

Epoch 1/10
3/3 [==============================] - 0s 110ms/step - loss: 1.4580 - accuracy: 0.2750 - val_loss: 1.3251 - val_accuracy: 0.4000
Epoch 2/10
3/3 [==============================] - 0s 70ms/step - loss: 1.3995 - accuracy: 0.2625 - val_loss: 1.2938 - val_accuracy: 0.4000
Epoch 3/10
3/3 [==============================] - 0s 54ms/step - loss: 1.3439 - accuracy: 0.3625 - val_loss: 1.3322 - val_accuracy: 0.2500
Epoch 4/10
3/3 [==============================] - 0s 58ms/step - loss: 1.2788 - accuracy: 0.4125 - val_loss: 1.3951 - val_accuracy: 0.0500
Epoch 5/10
3/3 [==============================] - 0s 57ms/step - loss: 1.2890 - accuracy: 0.3875 - val_loss: 1.3711 - val_accuracy: 0.2000
Epoch 6/10
3/3 [==============================] - 0s 56ms/step - loss: 1.2012 - accuracy: 0.4875 - val_loss: 1.3343 - val_accuracy: 0.4500
Epoch 7/10
3/3 [==============================] - 0s 56ms/step - loss: 1.1268 - accuracy: 0.6750 - val_loss: 1.3242 - val_accuracy: 0.4500
Epoch 8/10
3/3 [==============================] - 0s 57ms/step - loss: 1.0504 - accuracy: 0.6125 - val_loss: 1.3341 - val_accuracy: 0.3500
Epoch 9/10
3/3 [==============================] - 0s 56ms/step - loss: 0.9447 - accuracy: 0.6250 - val_loss: 1.3250 - val_accuracy: 0.3500
Epoch 10/10
3/3 [==============================] - 0s 59ms/step - loss: 0.9382 - accuracy: 0.6875 - val_loss: 1.2901 - val_accuracy: 0.4000

In [85]:
test_image = []
img = image.load_img('/content/drive/Shared drives/New Markets/Aman/Project Neo/temp.jpg',target_size=(28,28,1), grayscale=False)
img = image.img_to_array(img)
img = img/255
test_image.append(img)

test = np.array(test_image)

In [86]:
prediction = model.predict_classes(test)

In [87]:
prediction

array([1])

In [88]:
d

{'Dresses&Skirts': 2, 'Handbags': 3, 'Jackets&Blazers': 0, 'Shoes': 1}